img.navbar-favicon {
    margin-right: 5%;
    width: 20%;
}

a.navbar-favicon {
    margin-right: 4%;
}

a.nav-link-spacing {
    margin-left: 2%;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    max-height: 600px; /* Altezza massima delle immagini */
    max-width: 800px; /* Larghezza massima delle immagini */
  }